<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../Content/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="../../Content/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="../../Content/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="Stylesheet" href="../../Content/RSSReader.css" type="text/css" media="screen" />
    <link href="../../Content/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="../../Scripts/Plugins/rssAddFeedDialog.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/rssDeleteFeedDialog.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/rssFeedListPanel.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/rssChannelPanel.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="span-24">
                <div class="span-18" id="title">
                    <h1>@Html.ActionLink("NewsFeed App", "Index")</h1>
                </div>
                <div class="span-6 last" id="logindisplay">
                    @Html.Partial("LogOnUserControl")
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="container footer">
        <div class="span-24" id="footer">
        </div>
    </div>
</body>
</html>
