News APP

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<div class="splashcontainer">
    <div class="container">
        <div class="span-24 splash">
            @if (!Request.IsAuthenticated)
            {
                @Html.ActionLink("Register now", "Register", "Account") <text>or</text> @Html.ActionLink("log in", "LogOn", "Account")<text> to get started. </text>;
            }
            else
            {
                <text>Welcome back, </text>@HttpContext.Current.User.Identity.Name <text>You can</text> @Html.ActionLink("view your feeds", "Index", "Feed")
            }
        </div>
    </div>
</div>
<div class="container featuresetc">
    <div class="span-8">
        <h3>About</h3>
        NewsApp lets you keep up with your favourite websites and news feeds from inside your browser and access them anytime you're on the web.
        NewsApp was written over a weekend as part of an coding test. It is built on the ASP.NET MVC Framework using C#, jQuery and MSSQL.
    </div>
    <div class="span-8">
        <h3>Features</h3>
        NewsApp has a host of useful features. Including:
        <ul>
            <li>Subscribe to feeds</li>
            <li>Unsubscribe from feeds</li>
            <li>Read feeds</li>
            <li>Search feeds</li>
            <li>See the prerequisites....?!</li>

        </ul>
    </div>
</div>
